.heading{
  background-color:#fbc304 ;

}
.intro{
  text-align: center;
}
#contactbutton{
  position:absolute;
  right: 30px;
  top: 30px;
  width: 100px;
  height: 30px;
  background-color: #FEFBE7;
}
body{
  background-color: #F2F5C8;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
footer{
  text-align: center;
}
#progimg{
  width: 180px;
  position:absolute;
  right: 150px;
}
.gitouch{
  text-align: center;
  background-color: #DDDDDD;
  height: 350px;
  margin-bottom: 100px;
}
#message{
  width: 350px;
  height: 150px;
}
#sub-button{
  width: 100px;
  height: 30px;
  background-color: #FFD24C;
}
