.heading{
  background-color:#fbc304 ;

}
#contactbutton{
  position:absolute;
  right: 30px;
  top: 30px;
}
body{
  margin: 0;
}
footer{
  text-align: center;
}
.gitouch{
  text-align: center;
  background-color: #DDDDDD;
  height: 350px;
  margin-bottom: 100px;
}
#message{
  width: 350px;
  height: 150px;
}
