.intro{
  border: 5px solid black ;
  border-radius: 15px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: background-color 1s;
}
.intro2{
  border: 5px solid black ;
  border-radius: 15px;
  background-color: grey;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  justify-content: space-around;

}
.formcontainer{
  display: grid;
  justify-content: center;

}



@media screen and (max-width:750px)
{
  .intro2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;


  }
  .about {
    width: 300px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;


  }
  .Skills{
    width: 1500px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;

    position: relative;
  }
  .edu{
    width: 1500px; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
  }
}
.touch{
  color:  #fbc304;
  text-align: center;

}

.about {
  width: 10rem;
  text-align: center;



}
.Skills{
  width: 10rem;
  text-align: center;


}
.edu{
  width: 10rem;
  text-align: center;


}


.namenmail{
  text-align: center;
}
.buttonholder{
    text-align: center;
}
.formstying{
  border: 3px solid black;
  border-radius: 5px;
  margin: 1px;
  padding: 3px;

}


#abimg{
  width: 6rem;
  margin-left: 25px;
}
#skimg{
  width: 6rem;
  margin-left: 15px;
}
#edimg{
  width: 8rem;
}
#h3line{
  color: #fbc304;
}


#cright{
  text-align: center;
}
.name{
  text-align: center;
  color: WHITE;
}

body{
  margin: 5px;;
  background-color: #413F42;
  color:black;
  font-family: 'Ubuntu', sans-serif;
}
p{
  color: #fff;
}
html{
  margin: none;
}

.intro p{
  padding-left: 10px;
}
.intro img{
  border-radius: 14px;
  cursor: grab;

}
